<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect to HTTPS if not already
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Redirect root URL to index.php
    RewriteRule ^$ index.php?page=home [L]
    
    RewriteRule ^kegiatan$ index.php?page=kegiatan [L]
    RewriteRule ^pameran index.php?page=pameran [L]
</IfModule>